@model IEnumerable<B2C_TouresBalon.ServicioProductos.Producto>

@{
    ViewBag.Title = "Home Page";
}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @foreach (var promos in Model)
        {
            <li data-target="#carousel-example-generic" data-slide-to="@promos.id_producto"></li>
        }
    </ol>
    <div class="carousel-inner">
        @{
            var i = 0;
            foreach (var promos in Model)
            {
                var itemClass = i++ == 0 ? "item active" : "item";
                <div class="@itemClass">
                    <img alt="" class="slide-image" src="~/Content/brasil3.jpg">
                    <div class="carousel-caption">
                        <h4>@promos.espectaculo</h4>
                        <h6>@promos.ciudad.id_ciudad</h6>
                    </div>
                </div>
            }
        }
        
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="jumbotron">
    <h1>ACA VA LA BARRA DE BUSQUEDA DE PRODUCTOS</h1>
</div>

<div>
    <h4>Productos</h4>
    <hr />
    @foreach (var promos in Model)
    {
        <dl class="dl-horizontal">
            <dt>
                Id Producto
            </dt>

            <dd>
                @promos.id_producto
            </dd>

            <dt>
                Fecha Llegada
            </dt>

            <dd>
                @promos.fecha_llegada
            </dd>

            <dt>
                Fecha Salida
            </dt>

            <dd>
                @promos.fecha_salida
            </dd>

            <dt>
                Espectaculo
            </dt>

            <dd>
                @promos.espectaculo
            </dd>
        </dl>
    }
</div>