@using B2CTouresBalon.Controllers
@using B2CTouresBalon.Models
@model Cart

<table class="table">
    <tr>
        <th>
            Espectaculo
        </th>
        <th>
            Cantidad
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @item.Producto.espectaculo
            </td>
            <td>
                @item.Cantidad
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteItem", "ShoppingCart", new { idProducto = item.Producto.id_producto, cantidad = 1 }, null)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Pagar", "Pagar", new { idOrden = "2" }, new { onclick = "return confirm('Confirma el pago?');" })
</p>
<p>
    @Html.ActionLink("Back to Home", "Index", "Product")
</p>